body, * {
    padding: 0;
    margin: 0;
}

nav {
    background-color: purple;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

h3{
    color: black;
}

nav ol li {
    display: inline-block;
}

nav ol {
    margin: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    text-shadow: 1px 1px gray;
    text-decoration-line: underline;
}

main {
    margin: 0 auto;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 600px;
}

main ol li {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
}

footer {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.employee {
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 5px 10px -8px rgba(0,0,0,0.51);
    border: 0.5px lightgrey solid;
    display: flex;
    padding: 16px;
}

.content {
    margin-left: 32px;
}


.item {
    margin-bottom: 8px;
}

.image {
    background-color: darkorange;
    width: 100px;
    height: 100px;
    margin: 0;
}

.fullname {
}

.id {
    color: grey;
    font-size: 12px;
}

.email {
}

.positions {
    margin-bottom: 32px;
}

.actions {
    margin: 0;
}

.actions > .button {
    width: 100px;
    height: 30px;
    background-color: grey;
}

.actions > button {
    background-color: darkorange;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    color: white;
}

.positions > ul li{
    margin-left: 50px;
}

.actions > button:focus,
.actions > button:active,
.actions > button:hover {
    outline: none;
    background-color: #ff6b13;
}

.employeeDetail {
    margin-top: 40px;
}

.employeeDetail > ul li{
    margin-left: 30px;
}

.edit > dl dd{
    margin-top: 5px;
    margin-bottom: 10px;
}

.edit-line > br{
    size: 5px;
}

.employeeDetail > ul li p{
    margin-left: 10px;
}

