h2 {
    font-size: 30px;
}

.header1{
    height: 100px;
}

.divParalel{
    display: inline-block;
    width: 30%;
    justify-content: flex-end;
    
}

p {
    text-align: left;
    color: black;

}