{% extends 'layout.html.twig' %}

{% block title %}
	Stránka nenalezena
{% endblock %}

{% block breadcrumbs %}
	<li><a href="?">Seznam zamestnancu</a></li>
	<li>Stránka nenalezena</li>
{% endblock %}

{% block content %}
	<h1>Stránka nenalezena</h1>

	<p>Pokud jste přesvědčeni, že by tato stránka měla existovat. Kontaktujte administrátora na <a href="mailto:info@seznam.cz">info@seznam.cz</a>.</p>
{% endblock %}
