{% extends 'layout.html.twig' %}

{% block title %}
	Stránka nenalezena
{% endblock %}

{% block breadcrumbs %}
	<li><a href="?">Seznam zamestnancu</a></li>
	<li>Problém na naší straně</li>
{% endblock %}

{% block content %}
	<h1>Problém na naší straně</h1>

	<p>Velice se omlouváme, ale máme problém. Kontaktujte prosím administrátora na <a href="mailto:info@seznam.cz">info@seznam.cz</a>, děkujeme.</p>
{% endblock %}
