{% extends 'layout.html.twig' %}
{% set main = 'employeeDetail' %}

{% block title %}
	{{ employee.forename }} {{ employee.surname }}
{% endblock %}

{% block content %}
	<ul>
		<li>
			<h3>{{ employee.forename }} {{ employee.surname }}</h3>
			<img src="{{ employee.linkPhoto }}" alt="photo">
			<h3>e-mail: </h3>
			<p>{{ employee.email }}</p>
			<h3>telephone number:</h3>
			<p>{{ employee.phoneNumber }}</p>
			<h3>positions: </h3>
			{% for position in employee.positions %}
				<ul>
					<li>
						<h4 class="position">{{ position }}</h4>
					</li>
				</ul>
			{% endfor %}
			<h3>id: </h3>
			<p>{{ employee.id }} </p>
			<h3>about: </h3>
			<p>{{ employee.about }}</p>
		</li>
	</ul>
{% endblock %}
