{% extends 'layout.html.twig' %}

{% block title %}
	Editace
{% endblock %}

{% block content %}
	<h1>Editace:  {{ employee.forename }} {{ employee.surname }}</h1>
	<br class="edit-line">
	<form class="edit" action="?page=detail&id={{ employee.id }}" method="post">
		<dl>
			<dt><label for="editor-surname">Prijmeni</label></dt>
			<dd><input type="text" name="surname" id="editor-surname" value="{{ employee.surname }}"></dd>

			<dt><label for="editor-forename">Jmeno</label></dt>
			<dd><input type="text" name="surname" id="editor-forename" value="{{ employee.forename }}"></dd>

			<dt><label for="editor-email">Email</label></dt>
			<dd><input name="email" id="editor-email" value="{{ employee.email }}"></dd>

			<dt><label for="editor-phoneNumber">Tel.cislo</label></dt>
			<dd><input name="phoneNumber" id="editor-phoneNumber" value="{{ employee.phoneNumber }}"></dd>

			<dt><label for="editor-positions">Funkce</label></dt>
			<dd>
				<select name="position" id="editor-positions">
					{% for position in positions %}
						<option value="{{ position|lower }}"{% if position == employee.position %} selected{% endif %}>{{ position }}</option>
					{% endfor %}
				</select>
			</dd>

			<dt><label for="editor-about">Popis</label></dt>
			<dd><textarea name="about" id="editor-about">{{ employee.about }}</textarea></dd>
		</dl>

		<button type="submit">Uložit</button>
	</form>
{% endblock %}
