{% extends 'layout.html.twig' %}
{% block content %}
    <h2>Seznam zamestnancu</h2>
    {% for employee in employees %}
        <div class="employee">
            <div class="image">
                <img class="photo" src="{{ employee.linkPhoto }}" alt="photo">
            </div>
            <div class="content">
                <div class="fullname item">
                    <h2>Name: {{ employee.forename }} {{ employee.surname }}</h2>
                </div>
                <div class="id item">ID: {{ employee.id }}</div>
                <div class="email item">Email: {{ employee.email }}</div>
                <div class="positions item">
                    Positions:
                    <ul>
                        {% for position in employee.positions %}
                            <li> {{ position }} </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="actions item">
                    <button onclick="Location.href = '?page=detail&id={{ employee.id }}';" type="submit"><a href="?page=detail&id={{ employee.id }}">Detail</a></button>
                    <button onclick="Location.href = '?page=edit&id={{ employee.id }}';" type="submit"><a href="?page=edit&id={{ employee.id }}">Uprava</a></button>
                </div>
            </div>

        </div>
    {% endfor %}
{% endblock %}



