<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<title>{% block title 'Seznam zamestnancu'|title %}</title>

	<link rel="stylesheet" type="text/css" href="../web/styles/global.css">
</head>
<body>
<header>
	{% block banner %}
		<div id="site-header">Seznam zamestnancu</div>
	{% endblock %}

	<nav class="breadcrumbs">
		<h2>Menu</h2>
		<ol>
			{% block breadcrumbs %}
				<li><a href="index.html.twig">Seznam zamestnancu</a></li>
			{% endblock %}
		</ol>
	</nav>
</header>
<hr>
<main{% if main is defined %} class="{{ main }}"{% endif %}>
	{% block content %}
	{% endblock %}
</main>

</body>
</html>
